<h1>Editing guest list</h1>

<%= render "form", guest_list: @guest_list %>

<br>

<div>
  <%= link_to "Show this guest list", @guest_list %> |
  <%= link_to "Back to guest lists", guest_lists_path %>
</div>
